.rt-tbody {
  border-top: 1px solid black;
}

.rt-tr.-even {
  border: 1px solid black;
  border-top: 0px solid black;
}

.rt-tr.-odd {
  border: 1px solid black;
  border-bottom: 0px solid black;
  border-top: 0px solid black;
}

.rt-td {
  border-left: 1px solid black;
}